<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Sandbox</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
        .box {
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <h1>Hello World</h1>
    <div></div>
    <div id="app">
        <div v-if="showBooks">
            <p>{{ title }} - {{ author}} - {{ age }}</p>

            <button v-on:click="age++">Increase Age</button>
            <button v-on:click="age--">Decrease Age</button>
            <!-- @ Symbol Replaces v-on: -->
            <div @click="changeTitle('Typee')">Change Book Title</div>
        </div>
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <div v-show="showBooks">Currently Showing Books</div>

        <br>
        <!-- Mouse Events -->
        <div class="box" @mouseover="handleEvent">mouseover (enter)</div>
        <div class="box" @mouseleave="handleEvent2">mouseleave</div>
        <div class="box" @dblclick="handleEvent3">double click</div>
        <div class="box"></div>
    </div>
    <script src="./app.js"></script>
</body>

</html>